<%- include("partials/header",{category: menu}); %>
<div class="container">

    <div class="container"><a>path</a></div>
    <div class="row" >
        <% menu.forEach(function(category){ %>
            <h1><%= category.category %></h1>
            <% category.menuList.forEach(function(menuList){ %>
                <%- include("partials/menu",{ menu: menuList }) %>
            <% }); %>
        <% }); %>
    </div>
</div>
<%- include("partials/footer"); %>