<%- include("partials/header"); %>
<div class="container">

    <a>path</a>
    <h1>Combo set</h1>

    <div class="row" >
        <% menu.forEach(function(menu){ %>
            <%- include("partials/menu",{ menu: menu }) %>
        <% }); %>
    </div>
</div>
<%- include("partials/footer"); %>