#navigate{
    background-color: darkolivegreen;
}
#restaurantName{
    color: white;
    text-align: center;
   
}
.orderBox{
    background-color: whitesmoke; 
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}
body{
    background-color: lightgray;
}
.pic{
    width: 25%;
    height: auto;
    padding: 0 0 0 0 ;
}
.menuName{
    font-size: xx-large;
}
.cooking{
    background-color: coral;
    border-radius: 5px;
}
.queue{
    background-color: aqua;
    border-radius: 5px;
}
.changeBtn{
    width: fit-content;
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
}